services:
  postgres:
    image: postgres:latest
    container_name: postgres_db_cw
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  cw:
    image: db-cw:latest
    container_name: db-cw
    ports:
      - "8080:8080"


volumes:
  postgres_data: